@font-face {
  font-family: "f1_large";
  src: url("font/Formula1-Wide_web_0.ttf");
}

@font-face {
  font-family: "f1_regular";
  src: url("font/Formula1-Regular_web_0.ttf");
}

h1,
h2,
h3,
h4,
h5 {
  margin: 5px;
  display: inline-block;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: "f1_large";
  padding-top: 15px;
}

h4, p {
  color: rgb(0, 0, 0);
  font-family: "f1_regular";
  padding-top: 0px;
}


h4:after {
  content: ' ';
  display: block;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  margin-bottom: 5px;
}

body {
  margin: 0;
  background-color: #fff;
}

div {
  display: block
}

.lottie {
  float: right;
  padding-right: 10px;
  border: none;
  vertical-align: top;
  width: 90px;
}

.logo {
  padding: 20px;
  border: none;
  vertical-align: top;
  width: 150px;
  float: left;
}

.navigation-bar {
  width: 100%;
  background: #e10600;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 101;
}

.graphs {
  display: inline-block;
}

.constructors-graph {
  margin: 10px;
  padding: 50px;
  width: 44.5%;
  height: 400px;
  display: inline-block;
  border-color: #15151e;
  border-style: solid;
  border-width: 10px;
  border-radius: 10;
}

.map-graph {
  margin: 10px;
  padding: 50px;
  width: 42%;
  height: 400px;
  float: right;
  border-color: #15151e;
  border-style: solid;
  border-width: 10px;
  border-radius: 10;
}

.info-box {
  margin: 15px;
  padding: 10px;
  background-color: #F9F9F9;
  border-width: 2px;
  border-style: solid;
  border-color: #e2e2e2;
  font-family: "f1_regular";
}
