@font-face{
  font-family: "f1";
  src: url('font/Formula1-Wide_web_0.ttf');
}

h1, h2, h3, h4, h5, p {
  font-family: geneva;
}
p {
  font-size: 0.8rem;
}
body {
  margin: 0;
  background-color: #fff;
}
.lottie {
  float: right;;
  padding-right: 10px;
  border: none;
  vertical-align: top;
  width: 75px;
}
.logo {
  padding: 20px;
  border: none;
  vertical-align: top;
  width: 100px;
  float: left;
}
.title {
  margin: 0;
  display: inline-block;
  font-weight: 400;
  color: #fff;
  font-family: 'f1';
  padding-top: 15px;
}
.navigation-bar {
  width: 100%;
  background: #e10600;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 101;
}
.graphs {
  display: inline-block;
}
.constructors-graph {
  padding: 50px;
  width: 959px;
  height: 400px;
  display: inline-block;
  border-color: #15151e; 
  border-style: solid; 
  border-width: 4px;
  background-color:#15151e;
  border-radius: 10;
}
.map-graph {
  padding: 50px;
  width: 958px;
  height: 400px;
  float: right;
  border-color: #15151e; 
  border-style: solid; 
  border-width: 4px;
  border-radius: 10;
  background-color:#15151e
}
